body {
  height: 100VH;
  overflow: hidden;
}
body > .ember-view {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.header {
  box-shadow: 0 4px 6px -6px #222;
  //border: 2px solid black;
  margin: 10px;
  padding: 5px;
  display: table-cell;

  .logo {
    float: left;
    position: relative;
    left: 15px;
    top: 15px;
    height: 44px;
    width: 120px;
    background-color: red;
  }

  .menu {
    float: right;
    list-style-type: none;
    display: inline;
    margin-right: 15px;

    .menu-item {
      display: inline-block;
      .menu-item-button {
        &:focus {
          outline: 0;
        }
        display: inline-block;
        text-align: center;
        border-radius: 50px;
        border: 3px solid #fff;
        color: #fff;
        overflow: hidden;
        font-size: medium;
        padding: 25px;
        background-color: #98d39b;
        cursor: pointer;
        &:hover {
          background-color: #80b283;
        }
        &.selected {
          background-color: #80b283;
          &:hover {
            //background-color: #ddd;
          }
        }


      }
    }

  }
}

.middle {
  //border: 2px solid red;
  margin: 10px;
  padding: 5px;
  height: auto;
  overflow: auto;
  flex: 1;
  white-space: pre-line;
}

.footer {
  //border: 2px solid blue;
  box-shadow: 0 -4px 6px -6px #222;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  display: inline-block;

  .copyright {
    display: inline-block;
    margin-top: 10px;
  }
  .scroll-top {
    float: right;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ddd; /* Set a background color */
    color: #666; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */

  }
}